div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: aqua;
    margin: 20;
}

.translated{
    transform: perspective(350px) scaleZ(2) rotateX(45deg) rotateY(30deg);
}