.container{
    border: 1px solid black;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* flex-shrink: 5; */
}

.box{
    /* align-content: space-between; */
    border: 1px solid black;
    padding: 5;
    flex-basis: 100px;
    align-self:center;
    flex:none;
}

#b2{
    order:3;
    /* align-self: center; */
}

#b3{
    /* flex-grow: 1; */
    order:3;
    /* align-self: baseline; */
}

#b4{
    order:1;
    /* align-self: start; */
}

#b1{
    order:2;
    /* align-self: flex-end; */
}